section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/background-image.jpg');
    background-attachment: fixed;
    background-size: cover;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#FEFB36, #CA6B03);
    opacity: 0.9;
}

section.about h1 {
    padding: 0.5rem 0;
    margin-top: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #5A0102;
}

section.about p.note {
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
    color: #5A0102;
}

section.about div.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

div.description div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7rem;
    text-align: center;
}

div.description div a {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
}

div.description div a::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4.6rem;
    height: 0.1rem;
    background-color: #5A0102;
    transition: 0.3s;
    content: '';
}

div.description div a i {
    font-size: 3rem;
    transition: 0.3s;
    color: #5A0102;
}

div.description div p {
    font-size: 1.2rem;
    color: #5A0102;
}

@media (min-width: 360px) and (orientation: portrait) {

    section.about h1 {
        padding: 0.6rem 0;
        margin-top: 2.2rem;
        font-size: 1.5rem;
    }

    section.about p.note {
        font-size: 1.5rem;
    }

    div.description div {
        margin-top: 0.8rem;
    }

    div.description div a {
        width: 4.4rem;
        height: 4.4rem;
    }

    div.description div a::before {
        width: 5.1rem;
    }

    div.description div a i {
        font-size: 3.3rem;
    }

    div.description div p {
        font-size: 1.3rem;
    }
}

@media (min-width: 410px) and (orientation: portrait) {

    section.about h1 {
        padding: 0.7rem 0;
        margin-top: 2.5rem;
        font-size: 1.7rem;
    }

    section.about p.note {
        font-size: 1.7rem;
    }

    div.description div {
        margin-top: 0.9rem;
    }

    div.description div a {
        width: 5rem;
        height: 5rem;
    }

    div.description div a::before {
        width: 5.8rem;
    }

    div.description div a i {
        font-size: 3.8rem;
    }

    div.description div p {
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) and (orientation: portrait) {

    section.about h1 {
        padding: 1rem 0;
        margin-top: 3.7rem;
        font-size: 2.5rem;
    }

    section.about p.note {
        font-size: 2.5rem;
    }

    div.description div {
        margin-top: 1.3rem;
    }

    div.description div a {
        width: 7.3rem;
        height: 7.3rem;
    }

    div.description div a::before {
        width: 8.5rem;
        height: 0.2rem;
    }

    div.description div a i {
        font-size: 5.5rem;
    }

    div.description div p {
        font-size: 2.2rem;
    }
}

@media (orientation: landscape) {

    section.about h1 {
        padding: 0.8rem 0;
        margin-top: 0;
        font-size: 2.3rem;
    }

    section.about p.note {
        font-size: 1rem;
    }

    section.about div.description {
        width: 60%;
    }

    div.description div {
        margin-top: 1.1rem;
    }

    div.description div a {
        width: 3rem;
        height: 3rem;
    }

    div.description div a::before {
        width: 7.6rem;
        height: 0.1rem;
    }

    div.description div a i {
        font-size: 2.3rem;
    }


    div.description div p {
        font-size: 1rem;
    }

}

@media (orientation: landscape) and (min-width: 640px) {

    section.about h1 {
        padding: 1rem 0;
        font-size: 2.8rem;
    }

    section.about p.note {
        font-size: 1.2rem;
    }

    div.description div {
        margin-top: 1.3rem;
    }

    div.description div a {
        width: 3.6rem;
        height: 3.6rem;
    }

    div.description div a::before {
        width: 9.1rem;
    }

    div.description div a i {
        font-size: 2.8rem;
    }


    div.description div p {
        font-size: 1.2rem;
    }
}

@media (orientation: landscape) and (min-width: 960px) {

    section.about h1 {
        padding: 1.6rem 0;
        font-size: 4.8rem;
    }

    section.about p.note {
        font-size: 2.1rem;
    }

    div.description div {
        margin-top: 2.4rem;
    }

    div.description div a {
        width: 6.4rem;
        height: 6.4rem;
    }

    div.description div a::before {
        width: 16rem;
        height: 0.2rem;
    }

    div.description div a i {
        font-size: 4.8rem;
    }

    div.description div p {
        font-size: 2.1rem;
    }
}

@media (orientation: landscape) and (min-width: 1025px) {

    div.description div a:hover::before {
        width: 0;
    }

    div.description div a:hover i {
        color: #BD730C;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    section.about h1 {
        padding: 1.8rem 0;
        font-size: 5.4rem;
    }

    section.about p.note {
        font-size: 2.3rem;
    }

    div.description div {
        margin-top: 2.7rem;
    }

    div.description div a {
        width: 7.2rem;
        height: 7.2rem;
    }

    div.description div a::before {
        width: 18rem;
        height: 0.3rem;
    }

    div.description div a i {
        font-size: 5.4rem;
    }

    div.description div p {
        font-size: 2.3rem;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {

    section.about h1 {
        padding: 2rem 0;
        font-size: 6rem;
    }

    section.about p.note {
        font-size: 2.5rem;
    }

    div.description div {
        margin-top: 3rem;
    }

    div.description div a {
        width: 8rem;
        height: 8rem;
    }

    div.description div a::before {
        width: 20rem;
        height: 0.3rem;
    }

    div.description div a:hover::before {
        width: 0;
    }

    div.description div a i {
        font-size: 6rem;
    }


    div.description div p {
        font-size: 2.5rem;
    }

}