section.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.empty h1 {
    margin-top: 0.4rem;
    font-size: 0.7rem;
}

div.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.work img {
    width: 14rem;
    animation: shake 1.5s;
}

@media (min-width: 360px) and (orientation: portrait) {

    section.empty h1 {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    div.work img {
        width: 26rem;
    }
}

@media (min-width: 410px) and (orientation: portrait) {

    section.empty h1 {
        margin-top: 0.6rem;
        font-size: 0.9rem;
    }

    div.work img {
        width: 18rem;
    }
}

@media (min-width: 600px) and (orientation: portrait) {

    section.empty h1 {
        margin-top: 0.9rem;
        font-size: 1.3rem;
    }

    div.work img {
        width: 26rem;
    }
}

@media (orientation: landscape) and (min-width: 640px) {

    section.empty h1 {
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    div.work img {
        width: 27rem;
    }
}

@media (orientation: landscape) and (min-width: 960px) {

    section.empty h1 {
        margin-top: 1.6rem;
        font-size: 2.4rem;
    }

    div.work img {
        width: 48rem;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    section.empty h1 {
        margin-top: 1.8rem;
        font-size: 2.7rem;
    }

    div.work img {
        width: 54rem;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {

    section.empty h1 {
        margin-top: 2rem;
        font-size: 3rem;
    }

    div.work img {
        width: 60rem;
    }
}

@keyframes shake {
    0% {
        transform: translate(0) rotate(0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(0.5rem) rotate(2deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-0.5rem) rotate(-2deg);
    }

    100% {
        transform: translate(0) rotate(0);
    }
}